.container {
  flex-direction: column-reverse row;
}

div {
  text-align: center;
  
  font-family: "Quicksand", sans-serif;
}



div.a {
 
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: flex-end;
  
}

div.b {
  text-align: left;
  letter-spacing: 0.1em;
}
div.c {
  text-align: center;

  font-family: "Quicksand", sans-serif;
}
div.d {
  text-align: left;
  font-family: "Quicksand", sans-serif;
}

h2
 {
  text-align: center;
 
  color: rgb(54, 54, 54);
  font-family: "Quicksand", sans-serif;
}

h3 {
  text-align: center;
}
h4 {height:15px;}
a:hover,
a:active {
  background-color: rgb(230, 203, 173);
}

a:link,
a:visited {
  
  color: rgb(5, 5, 5);
  padding: 15px 17px;
  text-align: right;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  /*letter-spacing: 0,1px;*/
  text-shadow: 2px 2px 10px black;
}

.responsive {
  width: 340px;
  height: auto;
  max-width: 100%;

  border: 10px solid #555;
}
